.project_container{
    padding: 2em;
   
}

.title_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
   
}
.cards{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
   
    
    
}
.containerCards{
    min-height: calc(100vh + 200px);
}